<style>
.post {
  margin-bottom: 20px;
}
.big_image {
  width: 128px;
  height: 128px;
}

.small_image {
  width: 64px;
  height: 64px;
}

.post
{
  font-size: 200%;
  line-height:120%;
}

body {
  zoom: 150%;
}
</style>

<%

msg = screen.message[:msg]
responses = screen.message[:responses]
all_data = screen.message[:all_data]
msg_sender = all_data['references'].find do |ref|
  ref['id'] == msg['sender_id']
end

%>

<ul class="media-list">
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="<%= msg_sender['mugshot_url'].gsub('48x48', '128x128') %>">
    </a>
    <div class="media-body">
      <h2 class="media-heading"><%= msg_sender['full_name'] %></h2>
  
      <!-- Nested media object -->
      <div class="media post">
        <%= msg['body']['plain'] %>
        <br>
      </div>
      <% unless responses.empty? %>
        <ul class="media-list">
          <% 
            responses.each do |response| 
              rsp_sender = all_data['references'].find do |ref|
              ref['id'] == response['sender_id']
            end
        %>
        <li class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="<%= rsp_sender['mugshot_url'] %>">
          </a>
          <div class="media-body">
            <h2 class="media-heading"><%= rsp_sender['full_name'] %></h2>
        
            <!-- Nested media object -->
            <div class="media post">
              <%= response['body']['plain'] %><br>
            </div>
          </div>
          </li>
        <% end %>
      </ul>
    <% end %>
    </div>
  </li>
</ul>
